*{
  box-sizing:border-box;
  padding:0;
  margin:0;
}
img{
  max-width:100%;
}
body{
  background-color: white;
}
p{
  font-family: 'Work Sans', sans-serif;
}
a{
  text-align: center;
  text-decoration: none;
  color: #CBBBAB;
}
h2{
  font-family:'Dawning of a New Day', cursive;
  color: #CBBBAB;
  font-size: 80px;
  text-align: center;
}

/*
** HEADER
*/
header{
  background-color: rgba(72, 75, 72, 0.78);
}
header a{
  display: inline-block;
  padding: 10px 12px;
  font-size: 22px;
}
header a:hover{
  color: white;
  background-color: rgba(72, 75, 72, 0.45);
}
/*
** HERO
*/
#hero{
  text-align: center;
}
h1{
  font-family:'Dawning of a New Day', cursive;
  font-size: 100px;
  color: #CBBBAB;
  display: inline-block;
}
#hero h2{
  font-family: 'Dawning of a New Day',cursive;
  font-size: 55px;
  color: #CBBBAB;
  display: inline-block;
  position: relative;
  top: -64px;
  right: -96px;
}
/*Media Queries for the header*/
@media all and (max-width:1000px){
  #hero h1{
    font-size: 45px;
    text-align: center;
  }
  #hero h2{
    font-size: 35px;
    text-align: center;
    top: -32px;
    right:0;
    display: block;
  }
}
/*
** HELPERS
*/
.animated{
  -webkit-transition: all 475ms cubic-bezier(0.678, 0.338, 0.000, 0.996);
   -moz-transition: all 475ms cubic-bezier(0.678, 0.338, 0.000, 0.996);
     -o-transition: all 475ms cubic-bezier(0.678, 0.338, 0.000, 0.996);
        transition: all 475ms cubic-bezier(0.678, 0.338, 0.000, 0.996); /* custom */
}
.centered{
  margin:0 auto !important;
  width: 100%;
  max-width: 1406px;
}
.alignRight{
  text-align: right;
}
.alignCenter{
  text-align: center;
}
.padding{
  padding: 60px !important;
}
.backgroundColor{
  background-color: rgba(72, 75, 72, 0.06);
}
.bounce{
  transition: all 300ms ease;
}
/*Section 1*/
.bookNow{
  border: #CBBBAB solid 5px;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  background-color: white;
  color: #CBBBAB;
}
.bookNow h3{
  font-size: 65px;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
}
.bookNow h4{
  font-size: 30px;
}
/*Section 1 media queries*/
@media all and (max-width:1169px){
  #about h3{
    text-align: center;
    font-size: 55px;
  }
  #about h2{
    text-align: center;
    font-size: 45px;
    left: 0;
  }
}
/*Section 2*/
.editable{
  display: flex;
  min-height: 100vh;
  position: relative;
}
.editable h2, h3{
  text-align: center;
  font-family:'Dawning of a New Day',cursive;
  color: #CBBBAB;
}
.editable p{
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
}
.editable h2{
  font-size: 45px;
  font-weight: bold;
  position: relative;
  left: 89px;
}
.editable h3{
  font-size: 55px;
  text-align: center;
}
/*Media Queries for this section*/
@media all and (max-width:768px){
  .editable2 h3{
    text-align: center;
    font-size: 55px;
  }
  .editable2 h2{
    text-align: center;
    font-size: 45px;
    left: 0;
  }
}
/*Services-section 3*/
.services{
  background-color: rgba(72, 75, 72, 0.78);
  padding: 5%;
}
.services h2{
  padding-top: 2%;
  padding-bottom: 2%;
}
.services h3{
  font-size: 40px;
  padding-top: 2%;
}
.center{
  text-align: center;
  line-height: 1.5;
}
/*Services Section media queriers*/
@media all and (max-width:768px){
  #services h2{
    font-size: 65px;
  }
}
@media all and (max-width:550px){
  #services h2{
    font-size: 60px;
  }
}
/*Section 4*/
.editable2{
  display: flex;
  min-height: 100vh;
  position: relative;
}
.editable2 p{
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
}
.editable2 h2, h3{
  text-align: center;
  font-family:'Dawning of a New Day',cursive;
  color: #CBBBAB;
}
.editable2 h2{
  font-size: 45px;
  font-weight: bold;
  position: relative;
  right: 88px;
  top: -4px;
}
.editable2 h3{
  font-size: 55px;
}
/*Testimonial section*/
/* Bubble Slider */
h1 #slides{
  width: 100%;
  text-align: center;
  margin-top:50px;
  color:hsla(360, 45%, 95%, .9);
  letter-spacing: .8em;
  font-size:2.5vw;
  font-weight: normal;
  opacity: .2;
  text-transform: uppercase;
  text-shadow: hsla(0, 45%, 5%, .3) 0 0 1px, hsla(360, 55%, 95%, .3) 0 -1px 2px,  hsla(0, 45%, 5%, .3) 0 -1px 2px, hsla(360, 55%, 95%, .3) 0 20px 15px;
}
.owl-carousel{
  text-align: center;
}
.owl-next,
.owl-prev{
  display: inline-block;
  padding: 25px;
}
.owl-prev:after,
.owl-next:after{
  content: "\f190";
  font-family: 'fontawesome';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #CBBBAB;
  font-size: 40px;
}
.owl-next:after{
  content: "\f18e";
}
section #slides{
	width: 60%;
	margin: 70px auto;
  padding-bottom: 4%;
}
#slides{
  padding-bottom: 4%;
}
.bubble blockquote {
	margin: 10px 10px 0;
	background: #fff;
	padding: 60px;
	position: relative;
	border: none;
	border-radius: 8px;
	font-size: 1.25em;
	color: black;
  text-align: center;
}
.bubble blockquote:before, .bubble blockquote:after {
	content: "\201C";
	position: absolute;
	font-size: 80px;
	padding: 10px;
	line-height: 1;
	color: #CBBBAB;
}
.bubble blockquote:before {
	top: 0;
	left: 10px;
}
.bubble blockquote:after {
	content: "\201D";
	right: 10px;
	bottom: -.5em;
}
.bubble div {
	width: 0;
	height: 0;
	border-left: 0 solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fff;
	margin: 0 0 0 60px;
	margin-bottom: 10px;
  float: left;
}
.bubble cite {
	/*padding-left: 20px;*/
	font-size: 1.25em;
  color:black;
}
.slider{
  margin-bottom: 5%;
}
.slider h2{
  padding-top: 20px;
}
/*Contact section*/
#contact{
  background-color:#484B48;
  padding-bottom: 40px;
}
#contact h2{
  padding-bottom:5%;
  padding-top:3%;
  position: relative;
}
#contact p{
  padding: 2%;
  font-size: 18px;
  color: #CBBBAB;
}
#contact a{
  font-size: 20px;
  color:#CBBBAB;
  font-weight: lighter;
  text-align: left;
  font-family: 'Work Sans' sans-serif;
  display: block;
  padding: 4px 0;
}
#contact a{
  text-align: center;
}
/*Media Queries for footer*/
@media all and (max-width:680px){
  #contact h2{
    font-size: 65px;
  }
}
@media all and (max-width:470px){
  #contact h2{
    font-size: 45px;
  }
}
.scrollPop{
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #CBBBAB;
  z-index: 1000;
  padding: 0 30px 30px 30px;
  transform-origin: right bottom;
  border-top-left-radius: 6px;
  box-shadow: -10px 20px 40px rgba(0,0,0,0.24);
}
.scrollPop h2{
  font-size: 55px;
  padding: 30px 0;
  font-weight: 600;
  color: #484B48;
}
.scrollPop input{
  display: block;
  padding: 12px;
  margin: 12px 0;
  border-radius: 3px;
  border: none;
  outline: none;
  width: 100%;
}
body.popup-hide .scrollPop{
  visibility: hidden;
  opacity: 0;
  transform: scale(.98);
}
.button{
  background-color: #EF7B45;
  font-family: 'Work Sans' sans-serif;
  font-size: 25px;
  color: white;
  font-weight: bold;
}
body.popup-show .scrollPop{
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.fa-times{
  position: relative;
  display: inherit;
  text-align: center;
  color: #484B48;
}
/*All mobile nav*/
.hamburger{
  display:none;
}
#mobile-nav{
  position: fixed;
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(72, 75, 72, 0.78);
  z-index:99;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  visibility: hidden;
  text-align: center;
  color: #fff;
}
#mobile-nav a{
  color:#fff;
  text-decoration: none;
  text-transform: uppercase;
}
/*Media Queries for the mobile nav*/
@media all and (max-width:1200px){
  .hamburger{
    display: block;
    position: relative;
    right: 18px;
    color: #CBBBAB;
    z-index: 99;
  }
  .main-nav a{
    display: none;
  }
}
#mobile-nav .fa-times{
  display: block;
  position: relative;
  color: #CBBBAB;
}
/*Before and After Page Styling*/
.pPadding{
  padding:0 45px;
}
