*{
  box-sizing:border-box;
  padding:0;
  margin:0;

}
img{
  max-width:100%;
}
h1{
  font-family:'Dawning of a New Day', cursive;
  font-size: 100px;
  text-align: center;
  color: #CBBBAB;
}
body{
  background-color: white;
}
p{
  font-family: 'Work Sans', sans-serif;
}
a{
  text-align: center;
  text-decoration: none;
  color: #CBBBAB;
  width:100%;
}
.header-contact{
  background-color: rgba(72, 75, 72, 0.78);
  padding-top: 1%;
  display: inline-block;
  /*margin: 0 10px;*/
  text-align: right;
}
.nav{
  font-size: 30px;
  text-align: center;
  width: 33%;
}
h2{
  font-family:'Dawning of a New Day', cursive;
  color: #CBBBAB;
  font-size: 80px;
  text-align: center;
}
.hero h2{
  font-family: 'Dawning of a New Day',cursive;
  font-size: 55px;
  text-align: center;
  color: #CBBBAB;
  margin:-5%;
  margin-left: 22%
}
.glitterImage{
  margin-top: -13%;
  margin-left: 20%;
}
.hero{
  background-size: cover;
  background-repeat: none;
  margin-bottom: 8%;
}

/*Section 1*/
.bookNow{
  margin: 1%;
  padding: 2%;
  border: #CBBBAB solid 5px;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  position: absolute;
  background-color: white;
  color: #CBBBAB;
}
.bookNow h3{
  font-size: 65px;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
}
.bookNow h4{
  font-size: 30px;
}
.fa-angle-double-down{
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left:-20px;
  margin-bottom: 2%;
  width: 40px;
  height: 40px;
  color: #CBBBAB;
  z-index: 1;
  background-size: contain;
}
/*Section 2*/
.editable{
  display: flex;
  min-height: 100vh;
  position: relative;

}
.editable p{
  text-align: center;
}
.editable h2, h3{
  text-align: left;
  font-family:'Dawning of a New Day',cursive;
  color: #CBBBAB;
}
.editable p{
  line-height: 1.5;
  font-size: 25px;
}
.editable h2{
  font-size: 45px;
  padding: 1%;
  margin-top: 0%;
  margin-left: 5%;
  font-weight: bold;
}
.editable h3{
  font-size: 55px;
  text-align: left;
}
.tall{
  min-height: 100vh;
}
/*Services-section 3*/
.services{
  background-color: rgba(72, 75, 72, 0.78);
  padding: 5%;
}
.services h2{
  padding-top: 2%;
  padding-bottom: 2%;
}
.services h3{
  font-size: 40px;
  padding-top: 2%;
}
.center{
  text-align: center;
  line-height: 1.5;
}
/*Section 4*/
.editable2{
  display: flex;
  min-height: 100vh;
  position: relative;
}
.editable2 p{
  text-align: center;
  line-height: 1.5;
  font-size: 25px;
}
.editable2 h2, h3{
  text-align: right;
  font-family:'Dawning of a New Day',cursive;
  color: #CBBBAB;
}
.editable2 h2{
  font-size: 35px;
  padding: 1%;
  margin-left: 4%;
  font-weight: bold;
}
.editable2 h3{
  font-size: 45px;
}
/*Testimonial section*/
/* Bubble Slider */
h1 #slides{

  width: 100%;
  text-align: center;
  margin-top:50px;
  color:hsla(360, 45%, 95%, .9);
  letter-spacing: .8em;
  font-size:2.5vw;
  font-weight: normal;
  opacity: .2;
  text-transform: uppercase;
  text-shadow: hsla(0, 45%, 5%, .3) 0 0 1px, hsla(360, 55%, 95%, .3) 0 -1px 2px,  hsla(0, 45%, 5%, .3) 0 -1px 2px, hsla(360, 55%, 95%, .3) 0 20px 15px;

}
section #slides{
	width: 60%;
	margin: 70px auto;
  padding-bottom: 4%;
}
#slides{
  padding-bottom: 4%;
}
.bubble blockquote {
	margin: 10px 10px 0;
	background: #fff;
	padding: 60px;
	position: relative;
	border: none;
	border-radius: 8px;
	font-size: 1.25em;
	color: black;
}
.bubble blockquote:before, .bubble blockquote:after {
	content: "\201C";
	position: absolute;
	font-size: 80px;
	padding: 10px;
	line-height: 1;
	color: #CBBBAB;
}
.bubble blockquote:before {
	top: 0;
	left: 10px;
}
.bubble blockquote:after {
	content: "\201D";
	right: 10px;
	bottom: -.5em;
}
.bubble div {
	width: 0;
	height: 0;
	border-left: 0 solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fff;
	margin: 0 0 0 60px;
	margin-bottom: 10px;
  float: left;
}
.bubble cite {
	padding-left: 20px;
	font-size: 1.25em;
  color:black;
}
.slider{
  margin-bottom: 5%;
}
/*Contact section*/
#contact{
  background-color:#484B48;
}
#contact h2{
  padding-bottom:5%;
  padding-top:3%;
  position: relative;
}
.form{
  position: relative;
  text-align: center;
  border: #CBBBAB solid 2px;
  padding: 3%;
  line-height: 2;
  margin-left: 20%;
  margin-bottom: 3%;
}
#contact p{
  padding: 2%;
  font-size: 18px;
  color: #CBBBAB;
}
input [type=name] select, input, textarea{
 border:none;
 outline: none;
 font-size: 19px;
 font-weight: 300;
 text-align: center;
 background: none;
 font-family: 'Work Sans', sans-serif;
 max-width: 90%;
 border-bottom: 1px dashed;
 padding:15px;
 cursor:text;
 line-height: 2rem;
 height:4rem;
}
.textarea{
  background: none;
  background-color: #484b4b;
  position: absolute;
  padding: 2%;
  border-bottom: #CBBBAB dashed 1px;
}
.number{
  text-align: center;
  margin-left: 4%;
}
.number h4{
  font-size: 35px;
  color: #CBBBAB;
  font-family: 'Work Sans' sans-serif;
  font-weight: lighter;
  padding-bottom: 10%;
  padding: 2%;
}
.number h5{
  font-size: 20px;
  color:#CBBBAB;
  font-weight: lighter;
  text-align: left;
  font-family: 'Work Sans' sans-serif;
  padding: 2%;
  margin-left: 30%;
}
.fa-sun-o{
  color: #CBBBAB;
}
