/*font-family: 'Josefin Slab', serif;
font-family: 'Fresca', sans-serif;*/
/*General Styles */
*{
  box-sizing:border-box;
  padding:0;
  margin:0;

}
img{
  max-width:100%;
}
body{
  /*Font Family for entire webpage*/
 overflow-x: hidden;
}
section{
  position: relative;
}
h1, h2, h3, h4, h5, h6{
  /*Font family for header*/
  font-family: 'Fresca', sans-serif;
  text-align: center;
}
h3{
  font-size: 18px;
}
h1{
  font-size: 80px;
}
p{
  font-family: 'Josefin Slab', serif;
  font-weight:bold;
}
a{
  text-decoration: none; /*Removes underline from anchor links*/
}
.relative{
  position: relative;
}
li{
  list-style: none;
}
.alignright{
  text-align: right;
  position: relative;
  z-index: 25;
}
/*Header Styles*/
header{
    background-color: #F49FB1;
    padding-top: 4%;
    padding-bottom: 4%;
}
nav{
  text-align: right;
}
nav a{
  /*Nav for your anchor links, like hover or text color*/
  color: #F2F4F1;
  background: #F49FB1;
  padding: 1%;
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
  align-content: center;
  align-content:space-between;
}
/*section one*/
.about about{
  position:relative;
  justify-content: center;
  padding: 10%;
}
.about type{
  justify-content: center;
  position: relative;
}
.left{
  border-left:3px solid #f49fb1;
}
.right{
  border-right:3px solid #f2f4f1;
}
.right p{
  margin-left: 3%;
}
#about a{
  display: inline-block;
  color: #f49fb1;
  background-color: #f2f4f1;
  font-size: 75px;
}
.icons{
  margin-top: -8vw;
}
#about{
  background-color: #F2F4F1;
  padding-top: 16%;
  position: relative;
  justify-content:space-around;
}
.picfour{
  border: 3px #f49fb1 solid;
  border-radius: 20px;
  overflow: hidden;
}
.center{
  text-align: center;
  justify-content: space-around;
}
svg{
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
}
polygon{
  fill:#F2F4F1;
}
.about polygon{
  fill: #F49FB1;
}
.down{
  bottom: 0;
}
.up{
  top:0;
}
.left .fa{
  margin-left: -54px;
  font-size: 32px;
}
.right .fa{
  margin-right: -54px;
  font-size: 32px;
}
.right p{
  padding:1% 5%;
}
.left p{
  padding:2% 5%;
}

/*section two*/
  /*Make these pictures a max width of 100%*/
#gallery{
  background-color: #F2F4F1;
}
.picone{
  margin-top: -9vw;
}
.pictwo{

}
.picthree{
  margin-bottom: -34vw;
  position: relative;
  z-index: 90;
}

/*section three*/
#timeline{
  padding-bottom: 14vw;
  padding-top: 10vw;
  padding-left: 2%;
  padding-right: 2%;
}
#timeline p{
  text-align: center;
}
/*footer styles*/
#contact{
  background-color: #F49FB1;
  position: relative;
  padding-top:19vw;
}
.summer{
  margin-left: 482px;
}
.winter{
  margin-right: 480px;
}
form{
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  justify-content: center;
  padding-bottom: 8%;
}
input [type=name] select, input, textarea{
 border:none;
 outline: none;
 font-size: 15px;
 font-weight: 300;
 text-align: center;
 background: none;
 font-family: 'josefin-slab', serif;
 max-width: 90%;
 border-bottom: 1px dashed;
 padding:15px;
 cursor:text;
}
button[type=submit] select, button{
  border:none;
  background-color: #F49FB1;
  padding:10px;
  transition: 2s;
}
button[type=submit] select, button:hover{
  color: #f9fded;
  background-color: black;
}
.quiz button{
  border:3px solid #ECEFEA;
  background-color: #F49FB1;
  transition: 2s;
  border-radius: 16px;
  font-family:'josefin-slab';
  text-align: center;
  margin-right: 10px;
  font-size: 20px;
  padding:20px;
}
.quiz button:hover{
  border:1px solid #ECEFEA;
  background-color: #F49FB1;
}
.quiz nav{
  text-align: center;
  padding: 30px;
}
.quiz{
  background-color: #F49FB1;
  padding:15%;
  font-size: 30px;
}
.quiz img{
  width: 25px;
  vertical-align: middle;
}

/*RESPONSIVE STYLES*/
